circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  width: 1000px;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}
